{{> navbar}}

<div class="container" id="recieverPage">
    <h1 id="receiverListTitle">RECEIVER UPDATE</h1>
    <div class="row">
        <div class="col s6">
            <div class="row">
                <div class="container" id="receiverForm">

                    <form class="col s12" id="update-receiver" data-id="{{id}}">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="receiverName" type="text" class="validate" />
                                <label for="giverAddress">Full Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="receiverAddress" type="text" class="validate" />
                                <label for="giverAddress">Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="receiverGiftOne" type="text" class="GiftOne" />
                                <label>Gift 1</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="receiverGiftTwo" type="text" class="GiftOne" />
                                <label>Gift 2</label>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <input id="receiverGiftThree" type="text" class="GiftOne" />
                            <label>Gift 3</label>
                        </div>

                        <div class="row">

                            <div class="card-action">

                                <button type="submit" class="waves-effect waves-light green darken-4 btn-large"
                                    id="Submit">Update</button>
                                <button type="button" class="waves-effect waves-light green darken-4 btn-large"
                                    id="Back" onclick="backToList()">BACK TO LIST</button>

                            </div>
                        </div>
                    </form>
                </div>
                </form>
            </div>
        </div>

        <div class="container" id="recieverData">
            <div class="col s6">
                <form class="col s12" id="buttin" data-id="{{id}}">
                    <div class="row" id="inputBackground">
                        <div class="col s12">
                            <div class="card green darken-4">
                                <div class="card-content white-text" id="receiverDataForm">
                                    <span class="card-title" id="dataName">{{Receiver}} </span>
                                    <p id="dataId">Receiver ID: {{id}}</p>
                                    <p id="dataAddress">Address: {{Address}}</p>
                                    <p id="dataGiftOne">Wish List 1: {{Gift1}}</p>
                                    <p id="dataGiftTwo">Wish List 2: {{Gift2}}</p>
                                    <p id="dataGiftThree">Wish List 3: {{Gift3}}</p>

                                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

{{!-- These pages calling the Public JS Files to correctly route API Calls--}}
<script type="text/javascript" src="/assets/js/updateReciever.js"></script>

{{!-- This fucntion will take use to Home when back to main button is clicked --}}
<script>
    function backToList() {
        window.location.replace("/new")
    }
</script>